ARM_CLIENT_ID=...
ARM_CLIENT_SECRET=...
SUBSCRIPTION_ID=...
TENANT_ID=...
ENVTAG=...
LOCATION=...
SHORT_REGION=...
CLUSTER_SERVER_APP_ID=...
CLUSTER_SERVER_APP_SECRET=...
CLUSTER_CLIENT_APP_ID=...
CLUSTER_ADMIN_GROUP_ID=...
ACR_ID=...
